<div class="container-fluid mt-4">
  <form [formGroup]="addMember" class="form">
    <h3 class="heading">Add new Member</h3>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Placeholder" name="name" formControlName="name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Bio</mat-label>
          <input matInput placeholder="Placeholder" name="bio" formControlName="bio">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <input matInput placeholder="Placeholder" name="img" formControlName="img">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Instagram</mat-label>
          <input matInput placeholder="Placeholder" name="instagram" formControlName="instagram">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        </mat-form-field>
      </div>

      <div class="btn">
        <button mat-raised-button color="primary" (click)="addMemebrIn()" class="mx-3">Add Member</button>
        <button mat-raised-button color="accent" matDialogClose="true">Close</button>
      </div>
    </div>
  </form>


</div>
