<footer class="bg-dark text-light p-4">
  <div class="container">

    <div class="row">
      <div class="col-md-4 mt-3">
        <div class="details">
          <h3>About Us</h3>
          <a href="" class="about">About the Owner</a>
          <a href="" class="about">About the Restrasunt</a>
          <a class="nav-link about" routerLink="/admin" (click)="logout()">Login </a>
          <a class="nav-link about" aria-current="page" routerLink="/admin/dashboard">Dashboard</a>
          <a class="nav-link about" aria-current="page" routerLink="/admin/order">All Order</a>

        </div>
      </div>

      <div class="col-md-4 mt-3 social_div">

        <div class="social">
          <div class="effect">

            <a href="https://www.facebook.com/kamaalzindagi" class="fb" title="Join us on Facebook" target="_blank"><i
                class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <a href="https://twitter.com/ZindagiKamaal" class="tw" title="Join us on Twitter" target="_blank"><i
                class="fab fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/c/KamaalZindagi/" class="yt" title="Join us on Youtube+" target="_blank"><i
                class="fab fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/kamaal_zindagi/" class="insta" title="Join us on Instagram"
              target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>

          </div>

        </div>

      </div>

      <div class="col-md-4 mt-3" mt-3>
        <div class="location">
          <h3 class="heading">Contact Us</h3>
          <p class="bold">Lorem ipsum dolor sit amet consectetur.</p>
          <p class="bold">Mon-Sat: 11AM - 11PM</p>
          <p class="non_bold"><span class="bold">Phone: </span> +91 1204271421-22</p>
          <p class="non_bold"><span class="bold">Email: </span> contact@kamaalzindagi.com</p>
        </div>
      </div>
    </div>
    <!-- <div class="details">
      <h3>About Us</h3>
      <a href="" class="about">About the Owner</a>
      <a href="" class="about">About the Restrasunt</a>
      <a class="nav-link about" routerLink="/admin" (click)="logout()">Login </a>
      <a class="nav-link about" aria-current="page" routerLink="/admin/dashboard">Dashboard</a>
      <a class="nav-link about" aria-current="page" routerLink="/admin/order">All Order</a>

    </div> -->
    <!--
    <div class="social">
      <div class="effect">

        <a href="https://www.facebook.com/kamaalzindagi" class="fb" title="Join us on Facebook" target="_blank"><i
            class="fab fa-facebook-f" aria-hidden="true"></i></a>
        <a href="https://twitter.com/ZindagiKamaal" class="tw" title="Join us on Twitter" target="_blank"><i
            class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/c/KamaalZindagi/" class="yt" title="Join us on Youtube+" target="_blank"><i
            class="fab fa-youtube" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/kamaal_zindagi/" class="insta" title="Join us on Instagram"
          target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>

      </div>

    </div> -->

    <!-- <div class="location">
      <h3 class="heading">Contact Us</h3>
      <p class="bold">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="bold">Mon-Sat: 11AM - 11PM</p>
      <p class="non_bold"><span class="bold">Phone: </span> +91 1204271421-22</p>
      <p class="non_bold"><span class="bold">Email: </span> contact@kamaalzindagi.com</p>
    </div> -->
  </div>


</footer>
