
<div class="form pb-5">
  <h2>Login here</h2>
  <form [formGroup]="loginData" (ngSubmit)="login()" autocomplete="off">
    <div class="mb-3 inputs">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email"   autocomplete="new-password">
    </div>
    <div class="mb-3 inputs">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword" formControlName="password"  autocomplete="new-password">
    </div>

    <button type="submit" class="btn btn-primary ">Submit</button>
    <!-- <button type="button" class="btn btn-primary" routerLink="/admin/register">Back to Register</button> -->
  </form>

</div>
