
<div class="addBtn">
  <span> <button mat-raised-button color="accent" class="m-2" (click)="openAddMember()">Add Team Member</button></span>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="img">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element"> {{element.img}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="bio">
    <th mat-header-cell *matHeaderCellDef> Bio </th>
    <td mat-cell *matCellDef="let element"> {{element.bio}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="instagram">
    <th mat-header-cell *matHeaderCellDef> Instagram </th>
    <td mat-cell *matCellDef="let element"> {{element.instagram}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element" class="d-flex">

      <span> <button mat-raised-button color="primary" class="m-2" (click)="openDialog(element)">Edit</button></span>
      <span> <button mat-raised-button color="accent" class="m-2"
          (click)="deleteOneItem(element.id)">Delete</button></span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
